[submodule "ex1-customerMail"]
	path = ex1-customerMail
	url = https://github.com/64050224/custmailappquestion
[submodule "ex1-ellipseRectangle"]
	path = ex1-ellipseRectangle
	url = https://github.com/64050224/CPB_EllipseRectangle
[submodule "ex3-CustomerMail"]
	path = ex3-CustomerMail
	url = https://github.com/64050224/custmailwofactory
[submodule "ex3-server-no-facade"]
	path = ex3-server-no-facade
	url = https://github.com/64050224/serverwofacade
[submodule "ex3-football-observer"]
	path = ex3-football-observer
	url = https://github.com/64050224/footballObserverDesign
[submodule "ex5-football-event"]
	path = ex5-football-event
	url = https://github.com/64050224/football-observer-using-event
[submodule "ex5-football-bound"]
	path = ex5-football-bound
	url = https://github.com/64050224/football-observer-using-bound
[submodule "ex6-student-database-jpa"]
	path = ex6-student-database-jpa
	url = https://github.com/64050224/StudentDatabaseWithJPA
